@font-face {
  src: url('./assets/fonts/LiberationSans-Bold.ttf');
  font-family: 'LiberationSans-Bold';
}
@font-face {
  src: url('./assets/fonts/LiberationSans-Regular.ttf');
  font-family: 'LiberationSans-Regular';
}

/*Reset*/
* {
  padding: 0;
  margin: 0;
  line-height: 1;
  box-sizing: border-box;
}
a, img, button, input {
  display: block;
}
a, img, button {
  cursor: pointer;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
a {
  text-decoration: none;
}
button:focus, input:focus {
  outline: none;
} 
html {
  font-size: 10px;
}

.app {
  width: 100%;
}
.wrap {
  width: 85.56%;
  margin: auto;
}

@media screen and (max-width: 1200px) {
  .wrap {
    width: 93.75%;
  }
}